.aboutUs {
    width: 100%;
}

.aboutUsText {
    text-align: center;
}

.mainContainer {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media only screen and (max-width:850px) {
    .mainContainer {
        width: 90%;
    }
}