@font-face {
    font-family: 'Dadtier';
    src: local('Dadtier'), url(../../media/fonts/dadtierFont.otf) format('opentype');
}


.content {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 2px -2px gray;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(182,181,181,0.46122198879551823) 100%);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.dadtierLogo {
    height: 85px;
    width: 250px;
    margin-top: 4px;
    padding: 0px 20px;
    transition: 0.3s;
}

.dadtierLogo:hover {
    cursor: pointer;
    filter:invert(25%);
    transition-duration: 400ms;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(233, 233, 233, 0.192) 100%);
}

.headerFont {
    font-family: 'DadTier';
    font-size: 24px;
}

.headerButton {
    width: 190px;
    color: black;
    text-align: center;
    margin: auto 5px auto 5px;
    padding: 32px 5px;
    transition: 0.3s;
}

.headerButton:hover {
    cursor: pointer;
    color: black;
    filter:invert(100%);
    transition-duration: 400ms;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(233, 233, 233, 0.192) 100%);
}

.socialIcon {
    height: 40px;
}

.socialIcon:hover {
    cursor: pointer;
    filter:invert(100%);
    transition-duration: 1000ms;
    color: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(233, 233, 233, 0.192) 100%);
}

.socialIconPositioning {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.socialIconGroup {
    /* margin-left:auto; */
}

.socialIcon:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(233, 233, 233, 0.192) 100%);
}

@media only screen and (max-width:1230px) {
    .socialIcon {
        display: none;  
    }

    .socialIconPositioning{
        display: none;
    }
}

@media only screen and (max-width: 975px) {
    .headerButton {
        display: none;  
    }

    .dadtierLogo {
        width: 0px 100%
    }
}