.container {
    position: relative;
    /* opacity: 70%; */
}
.imageContainer {
    max-height: 400px;  
    overflow: hidden;  
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.image1 {
    margin-top: -10%;
    filter: brightness(60%);
}

.image2 {
    filter: brightness(60%);
}

.image3 {
    margin-top: -15%;
    filter: brightness(60%);
}

.image4 {
    margin-top: -3%;
    filter: brightness(60%);
}

.image5 {
    margin-top: -10%;
    filter: brightness(60%);
}

.carouselTextBox {
    position: absolute;
    top: 75%;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 550px;
}

.carouselText {
    color: white;

}


@media only screen and (max-width:1230px) {
    .imageContainer {
        max-height: 225px;  
        overflow: hidden;  
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }

    .carouselTextBox {
        position: absolute;
        top: 60%;
        left: 50%;
        bottom: 8px;
        transform: translate(-50%, -50%);
        text-align: center;
        min-width: 550px;
    }
}