@font-face {
    font-family: 'Dadtier';
    src: local('Dadtier'), url(../../../media/fonts/dadtierFont.otf) format('opentype');
}

.main {
    height: 400px;;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.hypeChickenPic {
    height: 250px;
    margin-top: 2em;
}

.description {
    margin: 3em;
    text-align: center;
    width: 500px;
    font-size: 24px;
    font-family: 'Dadtier';
}

@media only screen and (max-width:600px) {
    .description {
        width: 90%
    }

    .main {
        height: 525px;
    }
}