.mainContainer {
    display: flex;
    flex-direction: column;
}


.section2 {
    height: 600px;;
    width: 100%;
    background-color: #bbb;
}

.fridgeTopHalf {
    height: 33%;
    width: 40%;
    background-color: grey;

}

.fridgeBottomHalf {
    height: 67%;
    width: 40%;
    
}